* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#side-bar {
  width: 200px;
  background-color: #4987a1;
  height: 100%;
  position: fixed;
  overflow: auto;
}

#mailbox-container {
  margin-left: 200px;
  height: 100vh;
  background-color: aliceblue;
}
